& .generate-password-page {
	width: 90%;
	min-height: 90vh;
	height: auto;
	@include sm {
		width: 95%;
	}

	& .generate-head {
		width: 100%;
		height: 30vh;
		text-align: center;
		@include position(center, center, column);
		& h1 {
			font-size: 50px;
			text-transform: capitalize;
			@include text_gradient();

			@include sm {
				font-size: 30px;
			}
		}
		& p {
			font-size: 16px;
			font-weight: bold;
			color: $text;

			@include sm {
				font-size: 15px;
				font-weight: lighter;
			}
		}
	}
}
