& .generate-password-page {
	width: 90%;
	min-height: 90vh;
	height: auto;
	@include sm {
		width: 95%;
	}

	& .generate-head {
		width: 100%;
		height: 30vh;
		text-align: center;
		@include position(center, center, column);
		& h1 {
			font-size: 50px;
			text-transform: capitalize;
			@include text_gradient();

			@include sm {
				font-size: 30px;
			}
		}
		& p {
			font-size: 16px;
			font-weight: bold;
			color: $text;

			@include sm {
				font-size: 15px;
				font-weight: lighter;
			}
		}
	}

	& .generate-body {
		width: 100%;
		min-height: 60vh;
		display: flex;


		@include sm {
			flex-direction: column;
		}

		& .strength-img-container {
			width: 35%;
			@include sm {
				width: 100%;
			}
			& .strength-img {
				width: 100%;
				height: auto;
		
			}
		}
		& .generate-form-container {
			width: 63%;
			padding: 30px;

			@include sm {
				width: 100%;
				padding: 0;
			}

			& .generate-item {
				width: 100%;
				margin-top: 20px;
				@include position(center, flex-start);

				@include md {
                    margin-top: 30px;
					align-items: flex-start;
					flex-direction: column;
				}

				&.first {
					& .input-container {
						padding: 10px 20px;
						@include position;
						gap: 20px;
						background-color: white;
						border-radius: 30px;

						@include sm {
							flex-direction: column;
							width: 100%;
							border-radius: 20px;
						}

						& input {
							padding: 10px;
							border: none;
							width: 400px;
							@include md {
								width: 200px;
							}
							@include sm {
								width: 100%;
								margin-bottom: 5px;
								padding: 5px;
							}
							&:focus {
								outline: none;
							}
						}

						& .input-container-actions {
							@include position;
							gap: 10px;
                            @include sm{
                                gap: 20px;
                            }
							& .icon {
								cursor: pointer;
							}
							& span.strength-tag {
								padding: 5px 10px;
								border-radius: 10px;
								background-color: #43ed9c;
								font-weight: bold;
								color: white;
							}
						}
					}
				}
				&.second {
					justify-content: space-between;
					& .check {
						display: flex;
						gap: 20px;
						flex-wrap: wrap;
						& .checkbox {
							color: $primary;
							font-size: 20px;
						}
						& .label {
							font-weight: bold;
							color: $primary;
						}
					}
				}
				&.third {
					justify-content: space-between;
					& .slider-container {
						& .slider-icon-container {
							padding: 15px;
							border-radius: 50%;
							cursor: pointer;
							border: 1px solid $light_primary;

							& .slider-icon {
								color: $primary;
								font-size: 20px;
							}
							&:hover {
								& .slider-icon {
									color: white;
								}
								background-color: $light_primary;
							}
						}
						& .slider {
							color: $primary;
						}
					}
				}

				& .generate-label {
					width: 30%;
					@include md {
						width: 100%;
					}
					& span.title-label {
						font-size: 20px;
					}
					& .title-label-ans {
						font-size: 20px;
						font-weight: bold;
						margin-left: 20px;
					}
				}
				& .generate-params {
					width: 65%;
					@include md {
						width: 100%;
					}
				}
			}
		}
	}
}
