& .landing-page {
	@include position;
	width: 100%;
	& .hero {
		width: 90%;
		height: 90vh;
		display: flex;

		@include sm {
			width: 95%;
		}

		& .hero-text {
			flex: 1;
			@include position(flex-start, center, column);
			& .hero-text-container {
				& h1 {
					@include gradient();
					font-size: 35px;
				}
				& p {
					color: $light_text;
					margin: 5px 0;
				}
				& .hero-btn {
					@include position;
					background-color: $primary;
					padding: 20px 40px;
					color: white;
					font-weight: lighter;
					margin: 40px 0px;
					border-radius: 5px;
					border: 1px solid transparent;
					overflow-x: hidden;

					&:hover {
						@include gradient($secondary, $primary);
						color: $primary;
						border: 1px solid $primary;

						& .arrow-icon {
							transform: rotate(360deg);
							transition: transform 1s ease-out;
						}
					}
					&:active {
						& .arrow-icon {
							transform: translateX(100px);
							transition: transform 0.2s ;
						}
					}

					& .arrow-icon {
						margin-left: 20px;
						transition: 0.1s ;
					}
				}
			}
		}
		& .hero-img {
			height: 100%;
			flex: 1;
			@include position;
			@include sm {
				display: none;
			}

			& .hero-img-container {
				@include position;
				width: 100%;
				height: 70%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url('../../public/assets/images/hero.png');

				& .hero-image{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
