@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
  font-size: 15px;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.Link {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.btn {
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}
.btn:active {
  transform: scale(90%);
  transition: 0.2s;
}

.click_animation:active {
  transform: scale(90%);
  transition: 0.2s;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}
.main .gradient {
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, rgb(17, 0, 255) 0px, transparent 0%), radial-gradient(at 97% 21%, #7c2bac 0px, transparent 50%), radial-gradient(at 52% 99%, rgb(255, 103, 47) 0px, transparent 50%), radial-gradient(at 10% 29%, #b292c4 0px, transparent 50%), radial-gradient(at 97% 96%, #7c2bac 0px, transparent 20%), radial-gradient(at 33% 50%, rgb(136, 161, 219) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(253, 97, 142) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(50px) saturate(100%);
  top: 80px;
  opacity: 0.15;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("../../public/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.app {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
.app section.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  padding: 0 50px;
  box-shadow: 0px 13px 12px -5px rgba(0, 0, 0, 0.103);
}
@media (max-width: 800px) {
  .app section.navbar {
    padding: 20px;
  }
}
@media (max-width: 700px) {
  .app section.navbar {
    padding: 0 10px;
  }
}
.app section.navbar .logo {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 150px;
}
.app section.navbar .logo .logo-img {
  width: 100%;
  height: 100%;
}
.app section.navbar .toggle-menu-icon {
  position: relative;
  display: none;
}
@media (max-width: 700px) {
  .app section.navbar .toggle-menu-icon {
    display: block;
  }
}
@media (max-width: 700px) {
  .app section.navbar nav.desktop-nav {
    display: none;
  }
}
.app section.navbar nav > * {
  margin: 0 10px;
}
.app section.navbar nav span {
  position: relative;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
.app section.navbar nav span::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  width: 0;
  height: 2px;
  background-color: #7c2bac;
}
.app section.navbar nav span:hover::after {
  width: 100%;
}
.app section.navbar nav .signup-btn {
  border: 1px solid rgb(255, 103, 47);
  color: rgb(255, 103, 47);
}
.app section.navbar nav .signup-btn:hover {
  background-color: rgb(255, 103, 47);
  color: white;
}
.app section.navbar nav .login-btn {
  border: 1px solid transparent;
  background: #7c2bac;
  color: white;
}
.app section.navbar nav .login-btn:hover {
  background-color: white;
  color: #7c2bac;
  border: 1px solid #7c2bac;
}
.app section.navbar nav.mobile-nav {
  width: 70vw;
  height: 40vh;
  position: absolute;
  z-index: 10;
  top: 110%;
  right: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.app section.navbar nav.mobile-nav > * {
  margin: 10px 0;
}
.app .landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.app .landing-page .hero {
  width: 90%;
  height: 90vh;
  display: flex;
}
@media (max-width: 700px) {
  .app .landing-page .hero {
    width: 95%;
  }
}
.app .landing-page .hero .hero-text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.app .landing-page .hero .hero-text .hero-text-container h1 {
  background: #7c2bac;
  background: linear-gradient(to right, #7c2bac 0%, rgb(255, 103, 47) 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}
.app .landing-page .hero .hero-text .hero-text-container p {
  color: #bebebe;
  margin: 5px 0;
}
.app .landing-page .hero .hero-text .hero-text-container .hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #7c2bac;
  padding: 20px 40px;
  color: white;
  font-weight: lighter;
  margin: 40px 0px;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow-x: hidden;
}
.app .landing-page .hero .hero-text .hero-text-container .hero-btn:hover {
  background: rgb(255, 103, 47);
  background: linear-gradient(to right, rgb(255, 103, 47) 0%, #7c2bac 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #7c2bac;
  border: 1px solid #7c2bac;
}
.app .landing-page .hero .hero-text .hero-text-container .hero-btn:hover .arrow-icon {
  transform: rotate(360deg);
  transition: transform 1s ease-out;
}
.app .landing-page .hero .hero-text .hero-text-container .hero-btn:active .arrow-icon {
  transform: translateX(100px);
  transition: transform 0.2s;
}
.app .landing-page .hero .hero-text .hero-text-container .hero-btn .arrow-icon {
  margin-left: 20px;
  transition: 0.1s;
}
.app .landing-page .hero .hero-img {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 700px) {
  .app .landing-page .hero .hero-img {
    display: none;
  }
}
.app .landing-page .hero .hero-img .hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../public/assets/images/hero.png");
}
.app .landing-page .hero .hero-img .hero-img-container .hero-image {
  width: 100%;
  height: 100%;
}
.app .register {
  background-color: red;
}/*# sourceMappingURL=global.css.map */