& .navbar-placeholder {
	width: 100%;
	height: 10vh;
}
& section.navbar {
	@include position(center, space-between);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	height: 10vh;
	width: 100%;
	padding: 0 50px;
	border-radius: 0 0 20px 20px;
	box-shadow: $shadow-bottom;
	background-color: rgba(255, 255, 255, 0.85);
	backdrop-filter: saturate(180%) blur(10px);

	@include md {
		padding: 20px;
	}

	@include sm {
		padding: 0 20px;
	}

	& .logo {
		position: relative;
		padding: 10px;
		height: 40px;
		width: 150px;
		& .logo-img {
			width: 100%;
			height: 100%;
		}
	}

	& .toggle-menu-icon {
		position: relative;
		display: none;
		@include sm {
			display: block;
		}
	}

	& nav {
		& > * {
			margin: 0 10px;
		}

		& span {
			@include hover-animation($primary);
		}
		& .signup-btn {
			border: 1px solid $secondary;
			color: $secondary;
			&:hover {
				background-color: $secondary;
				color: white;
			}
		}
		& .login-btn {
			border: 1px solid transparent;
			background: $primary;
			color: white;
			&:hover {
				background-color: white;
				color: $primary;
				border: 1px solid $primary;
			}
		}

		&.desktop-nav {
			@include sm {
				display: none;
			}
		}
		&.mobile-nav {
			width: 70vw;
			height: 40vh;
			position: absolute;
			z-index: 10;
			top: 110%;
			right: 10px;
			background-color: $bg;
			border-radius: 5px;
			@include position(center, center, column-reverse);
			display: none;
			@include sm {
				display: block;
			}
			& > * {
				margin: 10px 0;
			}
		}
	}
}
