& .navbar-placeholder {
  width: 100%;
  height: 10vh;
}

& section.navbar {
  @include position(center, space-between);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 10vh;
  width: 100%;
  padding: 0 30px;
  border-radius: 0 0 10px 10px;
  box-shadow: $shadow-bottom;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: saturate(180%) blur(10px);

  @include md {
    padding: 20px;
  }

  @include sm {
    padding: 0 20px;
  }

  & .logo {
    position: relative;
    padding: 10px;
    height: 40px;
    width: 150px;

    & .logo-img {
      width: 100%;
      height: 100%;
    }
  }

  & .toggle-menu-icon {
    position: relative;
    display: none;

    @include sm {
      display: block;
    }

    & .blur-bg {
      box-shadow: $shadow-bottom;
      backdrop-filter: saturate(180%) blur(10px);
      border-radius: 15px;
      padding: 15px;
      @include position;
      @include bg-gradient($light_primary_o, $light_secondary_o);
      gap: 15px;
      cursor: pointer;
    }
  }

  & .acct-con {
    padding: 15px;
    border-radius: 15px;
    @include position;
    gap: 10px;
    box-shadow: $shadow-sm;
    @include bg-gradient($light_secondary_o, $light_primary_o);
    @include click_animation;

    & span {
      @include sm {
        display: none;
      }
    }
  }

  & nav {
    &>* {
      margin: 0 10px;
    }

    & span {
      @include hover-animation($primary);
    }

    & .signup-btn,
    & .profile-btn {
      border: 1px solid $secondary;
      color: $secondary;

      &:hover {
        background-color: $secondary;
        color: white;
      }
    }

    & .login-btn {
      border: 1px solid transparent;
      background: $primary;
      color: white;

      &:hover {
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
      }
    }

    &.desktop-nav {
      @include sm {
        display: none;
      }
    }

    &.mobile-nav {
      width: 70vw;
      height: 40vh;
      position: absolute;
      z-index: 10;
      top: 110%;
      right: 10px;
      background-color: $bg;
      border-radius: 5px;
      @include position(center, center, column-reverse);
      display: none;

      @include sm {
        display: block;
      }

      @include xsm {
        width: 80vw;
      }

      &>* {
        margin: 10px 0;
      }
    }
  }
}