$shadow-bottom: 0px 13px 12px -5px rgba(0, 0, 0, 0.103);
$shadow: 0px 3px 10px 6px rgba(0, 0, 0, 0.1);
$shadow-sm: 1px 1px 2px 2px rgba(211, 211, 211, 0.307);
$primary: #7c2bac;
$light_primary: #b292c4;
$secondary: rgb(255, 103, 47);
$text: #0b070d;
$light_text: #bebebe;
$bg: #ffffff;

@mixin position($align: center, $justify: center, $flow: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flow;
}

@mixin gradient($first: $primary, $second: $secondary) {
  background: $first;
  background: linear-gradient(to right, $first 0%, $second 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin hover-animation($line-color: black) {
  position: relative;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 0;
    height: 2px;
    background-color: $line-color;
  }
  &:hover::after {
    width: 100%;
  }
}

$breakpoints: (
  "sm": 700px,
  "md": 800px,
  "lg": 1000px,
  "xl": 1250px,
);

@mixin sm {
  @media (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (max-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin media($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
